body {
  background-color: #ffffff;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: red;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  color:#ffffff;
  
}
h1 {
  font-size: 48px;
  text-align: center;
}
h2 {
  margin: 0;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}
.date {
  opacity: 0.7;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  
}
.city:last-child {
  border: none;
  padding-bottom: 0;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
}
footer {
  text-align: center;
  margin-top: 0px;
  font-family:'Courier New', Courier, monospace;

}
